*,
::after,
::before {
  box-sizing: border-box;
  border-width: 0;
}

@media (max-width: 790px) {
  html {
    --spacing: 1.5rem;
  }
}

body {
  width: 100vw;
  height: 100dvh;
  background-color: black;
  margin: auto;
  display: flex;
  font-family: "Inter", sans-serif;
  overflow: hidden;
}

.canvas-container {
  width: 100vw;
  height: 100dvh;
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
}

#display-canvas:hover {
  cursor: grab;
}

#display-canvas:active {
  cursor: grabbing;
}

#display-canvas:focus-visible {
  outline: none;
}

/* Styles pour la fenêtre modale */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0;
    transition: opacity 0.3s ease;
}

    .modal.show {
        opacity: 1;
    }

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.8);
    width: 1800px;
    height: 800px;
    background-color: #52fcff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    transition: transform 0.5 ease;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

/* Style pour le bouton centré */
.center-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
    font-size: 18px;
    cursor: pointer;
}

.body-overlay {
    overflow: hidden;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.modal.show .modal-content {
    animation: fadeIn 0.5s ease;
    transform: translate(-50%, -50%) scale(1);
}

/* Style pour les éléments de formulaire dans la fenêtre modale */
.modal-content label {
    display: block;
    margin-top: 10px;
}

.modal-content input,
.modal-content textarea {
    width: 50%;
    padding: 8px;
    margin-top: 5px;
}

.modal-content button {
    background-color: #4caf50;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

    .modal-content button:hover {
        background-color: #45a049;
    }